# Ignore everything:
*

# Except for the themes directories:
!.gitignore
!/wp-content/
!/wp-content/*/
!/wp-content/*/*
!/wp-content/*/*/*
!/wp-content/*/*/*/*
!/wp-content/*/*/*/*/*
!/wp-content/*/*/*/*/*/*
/wp-content/themes/.DS_Store
/wp-content/themes/ofw2018/.DS_Store
/wp-content/themes/ofw2018/css/styles.css
/wp-content/plugins/*
