# Ignore everything:
*

# Except for the themes directories:
!.gitignore
!/wp-content/
!/wp-content/*/
!/wp-content/*/*
!/wp-content/*/*/*
!/wp-content/*/*/*/*
!/wp-content/*/*/*/*/*
!/wp-content/*/*/*/*/*/*
