.form-layout {

	.action {
		padding:0;
	}

}

#agent-change-password {
	display: none;
}

.points {

	td {
		text-align: right
	}

}

.user-dashboard-home {
	h3 {
		color: $blue;
	}
	h4 {
		color: $red;
	}
}