.form-layout {

	.action {
		padding:0;
	}

}

#agent-change-password {
	display: none;
}

.points {

	td {
		text-align: right
	}

}

.errors {
	list-style: none;
	margin:0 0 20px;
	padding:0;

	li {
		background: #f3bebe;
		padding: 8px 15px;
    	margin: 1px 0;
	}

}

.success {
	background: #c0f3be;
	padding:8px 15px;
}