.contact-us {
	.page-banner {
		margin-bottom:80px;
	}
}

.wpcf7 .contact-us-form {

	h4 {
		text-transform: uppercase;
		font-size:24px;
		margin:0 0 20px;
		font-weight: 600;
	}

	div {
		margin-bottom:20px;

		input[type="text"],
		input[type="email"],
		textarea {
			border:0;
			border-bottom:1px solid #898989;
			padding:15px 0;

			&::-webkit-input-placeholder { color: #ed4036; text-transform: uppercase; }
			&::-moz-placeholder { color: #ed4036; text-transform: uppercase; }
			&:-ms-input-placeholder {color: #ed4036; text-transform: uppercase; }
			&:-moz-placeholder { color: #ed4036; text-transform: uppercase; }

		}

		textarea {
			border:1px solid #898989;
		}

		&.action {
			margin-bottom:0;

			input.wpcf7-submit {
				background: $blue;
				color: $white;
				@include border-radius($radius: 5px);
				font-size:25px;
				padding:20px 40px;
			}

		}

	}

}

.contact-details {
	background:$yellow;
	padding:50px;

	div {
		margin-bottom:15px;

		strong {
			display: block;
		}

		&:last-child {
			margin-bottom:0;
		}
	}

}