.contact-us {
	.page-banner {
		margin-bottom:80px;
	}
}

.backward {
	unicode-bidi:bidi-override;
    direction: rtl;
}

.wpcf7 .contact-us-form {

	h4 {
		text-transform: uppercase;
		font-size:24px;
		margin:0 0 20px;
		font-weight: 600;
	}

	div {
		margin-bottom:20px;

		input[type="text"],
		input[type="email"],
		textarea {
			border:1px solid #898989;
			padding:15px;
			width:100%;

			&::-webkit-input-placeholder { color: #ed4036; font-weight: 100; text-transform: uppercase; }
			&::-moz-placeholder { color: #ed4036; font-weight: 100; text-transform: uppercase; }
			&:-ms-input-placeholder {color: #ed4036; font-weight: 100; text-transform: uppercase; }
			&:-moz-placeholder { color: #ed4036; font-weight: 100; text-transform: uppercase; }

		}

		textarea {
			height:150px;
		}

		&.action {
			margin-bottom:0;

			input.wpcf7-submit {
				background: $blue;
				color: $white;
				@include borderradius(5px);
				font-size:25px;
				padding:15px 40px;
				font-weight: 100;
			}

		}

	}

}

.contact-details {
	background:$yellow;
	padding:50px;

	div {
		margin-bottom:15px;

		strong {
			display: block;
		}

		&:last-child {
			margin-bottom:0;
		}
	}

}