
.ms-membership-form-wrapper {
	max-width: 500px;
	display: block;
	margin: auto;
	legend {
		font-size: 2em;
	    font-weight: 600;
	    text-transform: uppercase;
	    border-bottom: 0;
	}
	.ms-alert-error {
		border-top-color: $red;
	}
	input {
		display: block;
	    width: 100%;
	    padding: .375rem .75rem;
	    font-size: 1rem;
	    line-height: 1.5;
	    color: #495057;
	    background-color: #fff;
	    background-clip: padding-box;
	    border: 1px solid #ced4da;
	    border-radius: .25rem;
	}
	.login-submit {
		#wp-submit {
			max-width: 200px;
		    margin: auto;
		    background: $blue;
		    color: #fff;
		}
	}
}