.ms-membership-form-wrapper {
	max-width: 500px;
	display: block;
	margin: auto;
	legend {
		font-size: 2em;
	    font-weight: 600;
	    text-transform: uppercase;
	    border-bottom: 0;
	}
	.ms-alert-error {
		border-top-color: $red;
	}
	input {
		display: block;
	    width: 100%;
	    padding: .375rem .75rem;
	    font-size: 1rem;
	    line-height: 1.5;
	    color: #495057;
	    background-color: #fff;
	    background-clip: padding-box;
	    border: 1px solid #ced4da;
	    border-radius: .25rem;
	}
	#wp-submit, #register {
		max-width: 200px;
		margin-left: auto;
		margin-right: auto;
		background: $blue;
		color: #fff;
		border: none;
		padding: .375rem .75rem;
		line-height: 1.5;
		border-radius: .25rem;
	}
}

svg {
	max-width: 200px;
	height: auto;
}

.ms-account-wrapper {
	position: relative;
	padding-top: 50px;
	> div {
		border-top: 1px solid #cecece;
		padding: 10px 0;

		h2 {
			text-align: left;
			color: #1b75ba;
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 30px;

			a {
				color: #ed4036;
				font-size: 15px;
				font-weight: normal;
				margin-right: 15px;
				position: relative;
			}

			a:after {
				position: absolute;
				content: '\f0da';
				font-family: 'Font Awesome\ 5 Free';
				font-weight: 900;
			}
		}

		table {
			width: 100%;
			th {
				color: #ed4036;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}

	#account-membership {
		.ms-col-membership {
			text-align: left;
		}
		.ms-col-status {
			text-align: left;
		}
		.ms-col-expire-date {
			text-align: right;
		}
	}

	#account-profile {
		.ms-label-title {
			text-align: left;
		}
		.ms-label-field {
			text-align: right;
		}
	}

	#account-invoices, #account-activity {
		thead {
			th {
				text-align: left;
			}
			th:last-child {
				text-align: right;
			}
		}
		tbody {
			td {
				text-align: left;
			}
			td:last-child {
				text-align: right;
			}
		}
	}
}

.ms-account-wrapper:before {
	position: absolute;
	content: 'Account';
	font-size: 30px;
	top: 0;
	left: 0;
}

#submit.b-member-btn {
	border: none !important; 
}

.ms-alert-box.ms-alert-success {
	border-top-color: $yellow;
	color: $black;
}

.ms-top-bar {
	text-align: center;
}

#submit.ms-signup-button {
	padding: 0.375rem 0.75rem;;
    background: $blue;
    border: none;
    color: white;
    border-radius: 5px;
}

.ms-price-details {
	padding: 30px 10px;
}

.ms-top-bar {
	background: $red;
	color: #fff;
}

.ms-alert-box {
	max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
}

#ms-shortcode-register-user-form {
	background: #f6f6f6;
    padding: 20px 0;
    border-radius: 10px;
}

.ms-purchase-table {
	width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    text-align: left;
    td {
    	padding: .75rem;
	    vertical-align: top;
	    border-top: 1px solid #dee2e6;
    }
    .ms-title-column {
    	font-weight: 600;
    }
    .wpmui-field-input {
    	padding: 0.375rem 0.75rem;;
	    background: $blue;
	    border: none;
	    color: white;
	    border-radius: 5px;
    }
}

	.ms-manual-price {
		font-size: 1.5em;
		.ms-price {
			font-weight: 800;
		}
	}


.ms-cancel-button {
	padding: 0.50rem 0.75rem;
    background: #1b75ba;
    border: none;
    color: white;
    border-radius: 5px;
    display: inline-block;
    float: left;
    margin-left: 6px;
}