:focus {
  outline: none
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1050;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url('../img/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: $black;
}

a {
  &:hover {
    text-decoration: none;
    color: inherit;
  }
  &:focus {
    outline: none;
  }
}

button {
  &:focus {
    outline: 0;
  }
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.bg-red {
  background-color: $red;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-blue {
  background-color: $blue;
}

.black {
  color: $black;
}

.white {
  color: #fff;
}

.h-c-white {
  &:hover {
    color: #fff;
  }
}

.h-c-black {
  &:hover {
    color: $black;
  }
}

.yellow {
  color: $yellow;
}

.red {
  color: $red;
}

.blue {
  color: $blue;
}

.transition {
  transition: all .3s;
}

p {
  line-height: 1.7;
}

.about-us-container, .benefits-container {
  h3 {
    font-size: 1.875em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
  }
  p {
    font-size: 0.952em;
  }
}

.wp-pagenavi {
  .current {
    background: $red;
    border-color: $red;
    color: #fff;
    border-radius: 3px;
  }
  .page.larger, .nextpostslink, .page.smaller , .previouspostslink  {
    color: $red;
    transition: all .3s;
    border-radius: 3px;
    &:hover {
      background: $red;
      border-color: $red;
      color: #fff;
    }
  }
}

.poropor {
  a {
    border: 1px solid $yellow;
    border-radius: 30px;
  }
}

.profile-picture {
  position: relative;

  .upload-text { 
    position: absolute;
    width:100%;
    height:100%;
    @include vertalignmidhoralignleft;
    display: none;
    text-align:center;
    top:0;
    left:0;
    cursor: pointer;
    z-index: 0;
    background: rgba(0,0,0,.25);
  }

  .updatephoto {
    border:1px solid #ddd;
    position: relative;
  }

  img {
    width:100%;
  }

  input[type="file"] {
    opacity: 0;
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    cursor: pointer;
    z-index: 1
  }

  &:hover {
    .upload-text { 
      display: flex;
    }
  }

}

.form-layout {

  label {
    text-transform: uppercase;
    color:#666;
    font-size:11px;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .form-row {
    margin-left:-10px;
    margin-right:-10px;
  }

  .form-row>.col, .form-row>[class*=col-] {
    padding-left:10px;
    padding-right:10px;
  }

  .action {
    width: 100%;
    padding:0 15px;
  }

}

.partner-dashboard-menu {
  display: none;
}

.logged-in-account {
  font-size:13px;
  a {
    text-transform: uppercase;
    color:$black;
  }
}