:focus {
  outline: none
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1050;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url('../img/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: $black;
}

a {
  &:hover {
    text-decoration: none;
    color: inherit;
  }
  &:focus {
    outline: none;
  }
}

button {
  &:focus {
    outline: 0;
  }
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.bg-red {
  background-color: $red;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-blue {
  background-color: $blue;
}

.black {
  color: $black;
}

.white {
  color: #fff;
}

.h-c-white {
  &:hover {
    color: #fff;
  }
}

.h-c-black {
  &:hover {
    color: $black;
  }
}

.yellow {
  color: $yellow;
}

.red {
  color: $red;
}

.blue {
  color: $blue;
}

.transition {
  transition: all .3s;
}

p {
  line-height: 1.7;
}

.about-us-container, .benefits-container {
  h3 {
    font-size: 1.875em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
  }
  p {
    font-size: 0.952em;
  }
}

.wp-pagenavi {
  .current {
    background: $red;
    border-color: $red;
    color: #fff;
    border-radius: 3px;
  }
  .page.larger, .nextpostslink, .page.smaller , .previouspostslink  {
    color: $red;
    transition: all .3s;
    border-radius: 3px;
    &:hover {
      background: $red;
      border-color: $red;
      color: #fff;
    }
  }
}

.poropor {
  a {
    border: 1px solid $yellow;
    border-radius: 30px;
  }
}

.profile-picture {
  position: relative;

  .upload-text { 
    position: absolute;
    width:100%;
    height:100%;
    @include vertalignmidhoralignleft;
    display: none;
    text-align:center;
    top:0;
    left:0;
    cursor: pointer;
    z-index: 0;
    background: rgba(0,0,0,.25);
  }

  .updatephoto {
    border:1px solid #ddd;
    position: relative;
  }

  img {
    width:100%;
  }

  input[type="file"] {
    opacity: 0;
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    cursor: pointer;
    z-index: 1
  }

  &:hover {
    .upload-text { 
      display: flex;
    }
  }

}

.form-layout {

  label {
    text-transform: uppercase;
    color:#666;
    font-size:11px;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .form-row {
    margin-left:-10px;
    margin-right:-10px;
  }

  .form-row>.col, .form-row>[class*=col-] {
    padding-left:10px;
    padding-right:10px;
  }

  .action {
    width: 100%;
    padding:0 15px;
  }

}

.partner-dashboard-menu {
  display: none;
}

.logged-in-account {
  font-size:13px;
  a {
    text-transform: uppercase;
    color:$black;
  }
}

.user-dashboard {
  background: $blue;

  .partner-dashboard-menu {
    display: block;
  }

  .site-search,
  .logged-in-account {
    display: none;
  }

  .wrapper {
    max-width:1140px;
    margin: 0 auto;
    position: relative;
    padding:30px 0 30px 240px;
  }

  header.header {
    border-top:0;
    position: absolute;
    width:240px;
    left:0;
    top:30px;
    padding-right:30px;

    .mid-header {
      padding-top:0!important;
    }

    svg {
      width: 100%;
      height:auto;
      path,
      polygon {
        fill:$white;
      }
    }

    .row div {
      max-width: 100%;
        flex: 100%;
        padding:0;
    }

    ul {
      list-style: none;
      margin:20px 0 0;
      padding:0;
      border-top:1px solid lighten($blue, 5%);

      li {
        border-bottom:1px solid lighten($blue, 5%);
      }

      a {
        display: block;
        padding:15px 0 15px 15px;
        color:$white;
        font-weight: 300;
        @include transition(all 0.5s ease);
        &:hover {
          color:$yellow
        }
      }

    }

    nav.navbar {
      display: none;
    }

  }

  main section {
    h1,
    article.page {
      display: none;
    }
  }

  .sidebar { display:none }

  .user-dashboard-home {
    background:$white;
    padding:50px;
    min-height:376px;
    font-weight: 300;

    header {
      margin-bottom:25px;

      p {
        line-height: 24px;
        margin:0;
      }

    }

    .tools{

      a {
        display: block;
        border:1px solid #eee;
        padding:25px;
        color:$black;
        @include transition(all 0.5s ease);
        @include borderradius(5px);
        &:hover {
          background: darken($white, 3%);
        }
      }

      h5 {
        margin:0 0 15px;
      }

      p {
        
        font-size:14px;
        line-height: 22px;
        margin:0; 
      }

    }

    .member-search {

      div {
        position: relative;
        padding-right:120px;
      }

      input[type="text"] {
        border:1px solid #ddd;
        padding:17px 20px;
        font-size:16px;
        @include borderradius(0);

        &::-webkit-input-placeholder { font-weight:300; color:#aaa; }
        &::-moz-placeholder { font-weight:300; color:#aaa; }
        &:-ms-input-placeholder { font-weight:300; color:#aaa; }
        &:-moz-placeholder { font-weight:300; color:#aaa; }

      }

      input[type="submit"] {
        position: absolute;
        right:0;
        top:0;
        border:0;
        font-size:16px;
        padding: 20px;
        background: $blue;
        color:$white;
        width:120px;
      }
    }

    .search-results {

      h4 {
        margin:35px 0 15px;
      }
      
      ul {
        list-style: none;
        //margin:0;
        padding:0;
      }

      li {

        div {
          border:1px solid #eee;
          padding:25px 25px 25px 130px;
          @include transition(all 0.5s ease);
          @include borderradius(5px);
          position: relative;

          img {
            @include borderradius(200px);
            width:90px;
            height: auto;
            position: absolute;
            left:20px;
            top:50%;
            margin-top:-45px;
          }

        }

        strong, em, span {
          display: block;
        }

        strong {
          font-weight: 400;
          font-size:20px;
        }

        em {
          margin:2px 0;
          font-style: normal
        }

        em, span {
          font-size:14px;
          color:#999
        }

      }

    }

  }
 
  footer.footer {
    display: none;
  }

}