.partners-container {
	.partner-bottom {
		h3 {
			font-weight: 700;
			font-size: 2.813em;
			text-transform: uppercase;
		}
	}
	ul {
		list-style-type: none;
		padding-left: 0;
		border-right: 2px solid #ccd;
		li {
			a {
				color: $black;
				font-size: 1em;
				&:hover {
					padding-left: 10px;
					color: $blue;
				}
			}
		}
	}
}

.post-type-archive {
	.all {
		color: $blue;
	}
}

.logo-cont {
	background-color: #f8f8f8;
	padding: 20px;
	min-height: 150px;
	&:hover {
		background-color: $blue;
		img {
			-webkit-filter: brightness(0) invert(1);
  			filter: brightness(0) invert(1);
		}
	}
}


/*single-partner*/
.single-partners {
	.single-banner {
		background-color: #f0f0f0;
	    background-image: -webkit-linear-gradient(165deg, $yellow 60%, #f0f0f0 50%);
	}
	h2 {
		font-size: 2.188em;
	}
	p {
		font-size: 0.952em;
	}
	.owner-container {
		border-top: 1px solid #adadad;
		border-bottom: 1px solid #adadad;
	}
	h3 {
		font-size: 1.500em;
	}
	ul {
		li {
			list-style: none;
		}
	}
	h4 {
		font-size: 1.2em;
	}
}

.partner-dashboard {
	background: $blue;

	.partner-dashboard-menu {
		display: block;
	}

	.site-search,
	.logged-in-account {
		display: none;
	}

	.wrapper {
		max-width:1140px;
		margin: 0 auto;
		position: relative;
		padding:30px 0 30px 240px;
	}

	header.header {
		border-top:0;
		position: absolute;
		width:240px;
		left:0;
		top:30px;
		padding-right:30px;

		.mid-header {
			padding-top:0!important;
		}

		svg {
			width: 100%;
			height:auto;
			path,
			polygon {
				fill:$white;
			}
		}

		.row div {
			max-width: 100%;
    		flex: 100%;
    		padding:0;
		}

		ul {
			list-style: none;
			margin:20px 0 0;
			padding:0;
			border-top:1px solid lighten($blue, 5%);

			li {
				border-bottom:1px solid lighten($blue, 5%);
			}

			a {
				display: block;
				padding:15px 0 15px 15px;
				color:$white;
				font-weight: 300;
				@include transition(all 0.5s ease);
				&:hover {
					color:$yellow
				}
			}

		}

		nav.navbar {
			display: none;
		}

	}

	main section {
		h1,
		article.page {
			display: none;
		}
	}

	.sidebar { display:none }

	.partner-dashboard-home {
		background:$white;
		padding:50px;
		min-height:376px;
		font-weight: 300;

		header {
			margin-bottom:25px;

			p {
				line-height: 24px;
				margin:0;
			}

		}

		.tools{

			a {
				display: block;
				border:1px solid #eee;
				padding:25px;
				color:$black;
				@include transition(all 0.5s ease);
				@include borderradius(5px);
				&:hover {
					background: darken($white, 3%);
				}
			}

			h5 {
				margin:0 0 15px;
			}

			p {
				
				font-size:14px;
				line-height: 22px;
				margin:0;	
			}

		}

		.member-search {

			div {
				position: relative;
				padding-right:120px;
			}

			input[type="text"] {
				border:1px solid #ddd;
				padding:17px 20px;
				font-size:16px;
				@include borderradius(0);

				&::-webkit-input-placeholder { font-weight:300; color:#aaa; }
				&::-moz-placeholder { font-weight:300; color:#aaa; }
				&:-ms-input-placeholder { font-weight:300; color:#aaa; }
				&:-moz-placeholder { font-weight:300; color:#aaa; }

			}

			input[type="submit"] {
				position: absolute;
				right:0;
				top:0;
				border:0;
				font-size:16px;
				padding: 20px;
				background: $blue;
				color:$white;
				width:120px;
			}
		}

		.search-results {

			h4 {
				margin:35px 0 15px;
			}
			
			ul {
				list-style: none;
				//margin:0;
				padding:0;
			}

			li {

				div {
					border:1px solid #eee;
					padding:25px 25px 25px 130px;
					@include transition(all 0.5s ease);
					@include borderradius(5px);
					position: relative;

					img {
						@include borderradius(200px);
						width:90px;
						height: auto;
						position: absolute;
						left:20px;
						top:50%;
						margin-top:-45px;
					}

				}

				strong, em, span {
					display: block;
				}

				strong {
					font-weight: 400;
					font-size:20px;
				}

				em {
					margin:2px 0;
					font-style: normal
				}

				em, span {
					font-size:14px;
					color:#999
				}

			}

		}

	}
 
	footer.footer {
		display: none;
	}

}

