.partners-container {
	.partner-bottom {
		h3 {
			font-weight: 700;
			font-size: 2.813em;
			text-transform: uppercase;
		}
	}
	ul {
		list-style-type: none;
		padding-left: 0;
		border-right: 2px solid #ccd;
		li {
			a {
				color: $black;
				font-size: 1em;
				&:hover {
					padding-left: 10px;
					color: $blue;
				}
			}
		}
	}
}

.post-type-archive {
	.all {
		color: $blue;
	}
}

.logo-cont {
	background-color: #f8f8f8;
	padding: 20px;
	&:hover {
		background-color: $blue;
		img {
			-webkit-filter: brightness(0) invert(1);
  			filter: brightness(0) invert(1);
		}
	}
}

.partner-dashboard {
	background: $blue;

	.wrapper {
		max-width:1140px;
		margin: 0 auto;
		position: relative;
		padding:30px 0 0 240px;
		min-height:1000px;
	}

	header.header {
		border-top:0;
		position: absolute;
		width:240px;
		left:0;
		top:30px;

		svg {
			width: 100%;
			height:auto;
			path,
			polygon {
				fill:$white;
			}
		}

		.row div {
			max-width: 100%;
    		flex: 100%;
		}

	}

	.partner-dashboard-home {
		background:$white;
		padding:50px;
	}

	footer.footer {
		display: none;
	}

}