.partners-container {
	.partner-bottom {
		h3 {
			font-weight: 700;
			font-size: 2.813em;
			text-transform: uppercase;
		}
	}
	ul {
		list-style-type: none;
		padding-left: 0;
		border-right: 2px solid #ccd;
		li {
			a {
				color: $black;
				font-size: 1em;
				&:hover {
					padding-left: 10px;
					color: $blue;
				}
			}
		}
	}
}

.post-type-archive {
	.all {
		color: $blue;
	}
}

.logo-cont {
	background-color: #f8f8f8;
	padding: 20px;
	min-height: 150px;
	&:hover {
		background-color: $blue;
		img {
			-webkit-filter: brightness(0) invert(1);
  			filter: brightness(0) invert(1);
		}
	}
}


/*single-partner*/
.single-partners {
	.single-banner {
		background-color: #f0f0f0;
	    background-image: -webkit-linear-gradient(165deg, $yellow 60%, #f0f0f0 50%);
	}
	h2 {
		font-size: 2.188em;
	}
	p {
		font-size: 0.952em;
	}
	.owner-container {
		border-top: 1px solid #adadad;
		border-bottom: 1px solid #adadad;
	}
	h3 {
		font-size: 1.500em;
	}
	ul {
		li {
			list-style: none;
		}
	}
	h4 {
		font-size: 1.2em;
	}
}
