.testimonials-container {
	background: $blue;
	color: #fff;
	h2 {
		font-size: 1.875em;
		font-weight: 600;
	}
	p {
		font-size: 1.3em;
		line-height: 1.2;
	}
	.break {
		width: 55px;
		height: 5px;
		background: #fff;
	}
	h3 {
		font-size: 1.125em;
		font-weight: 600;
	}
	.carousel-control {
		.carousel-control-prev-icon {
			width: 48px; height: 48px;
    		background: url('../img/nav.png') -10px -10px;
		}
		.carousel-control-next-icon {
			width: 48px; height: 48px;
    		background: url('../img/nav.png') -78px -10px;
		}
	}
}

.connect {
	background-image: url('../img/ofw-grey.png');
	background-repeat: no-repeat;
	background-position: center 30px;
	h3 {
		font-size: 1.875em;
		letter-spacing: 6px;
	}
	h2 {
		font-size: 4em;
	}
	p {
		font-size: 2em;
		font-weight: 600;
		letter-spacing: 6px;
	}
	.icons {
		max-width: 720px;
		margin:0 auto;
	}
	.social-cont {
		height: 84px;
		width: 84px;
		&.fb {
			background: url('../img/social.png') -8px -8px/200px auto;
		}
		&.tw {
			background: url('../img/social.png') -8px -8px/200px auto;
		}
		&.gp {
			background: url('../img/social.png') -108px -8px/200px auto;
		}
		&.yt {
			background: url('../img/social.png') -108px -108px/200px auto;
		}
	}
}